
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div id="form-container">

            <div class="page-header">
                <div id="status-buttons" class="text-center">
                    <a ui-sref-active="active" ui-sref=".db"><span>1</span> Database</a>
                    <a ui-sref-active="active" ui-sref=".conference"><span>2</span> Conference</a>
                    <a ui-sref-active="active" ui-sref=".email"><span>2</span> E-mail</a>
                </div>
            </div>

            <form id="signup-form" ng-submit="install()">

                <div id="wizard-views" ui-view></div>

            </form>

        </div>

        <pre>
            {{view}}
        </pre>

    </div>
</div>
